<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sipingsoft.back.mapper.ArticleClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sipingsoft.back.entity.ArticleClass">
        <id column="id" property="id" />
        <result column="type_name" property="typeName" />
        <result column="remark" property="remark" />
        <result column="is_use" property="isUse" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result property="createName" column="createName"/>
        <result property="updateName" column="updateName"/>

    </resultMap>

    <sql id="base_sql">
        arc.id,arc.type_name,arc.remark,arc.is_use,arc.create_by,
        DATE_FORMAT(arc.create_date,'%Y-%m-%d %H:%i:%s') create_date ,DATE_FORMAT(arc.update_date,'%Y-%m-%d %H:%i:%s') update_date,
        arc.update_by
    </sql>

    <sql id="base_sql_2">
        arc.id,arc.type_name,arc.remark,arc.is_use,arc.create_by,
        DATE_FORMAT(arc.create_date,'%Y-%m-%d %H:%i:%s') create_date ,DATE_FORMAT(arc.update_date,'%Y-%m-%d %H:%i:%s') update_date,
        arc.update_by,sysu.name createName ,sysus.name updateName
    </sql>

    <select id="findArticleClassList" resultMap="BaseResultMap" parameterType="map">
      SELECT
        <include refid="base_sql_2"/>
        FROM article_class arc
      LEFT JOIN sys_user sysu
      ON sysu.user_id = arc.create_by
      LEFT JOIN sys_user sysus
      ON arc.update_by = sysus.user_id
      <where>
          <if test="articleClass.typeName != null and articleClass.typeName != '' ">
              AND arc.type_name LIKE CONCAT('%',#{articleClass.typeName},'%')
          </if>
          <if test="articleClass.isUse != null and articleClass.isUse != '' ">
              AND arc.is_use = #{articleClass.isUse}
          </if>
      </where>
        ORDER BY arc.create_date
        LIMIT #{pageStart},#{pageSize}
    </select>

    <select id="findArticleClassCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM article_class
        <where>
            <if test="articleClass.typeName != null and articleClass.typeName != '' ">
                AND type_name LIKE CONCAT('%',#{articleClass.typeName},'%')
            </if>
            <if test="articleClass.isUse != null and articleClass.isUse != '' ">
                AND is_use = #{articleClass.isUse}
            </if>
        </where>
    </select>

</mapper>
