<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.back.mapper.ArticleMapper">

  <resultMap id="BaseResultMap" type="com.cc.back.entity.Article">
      <id column="id" jdbcType="INTEGER" property="id" />
    <result column="article_class_id" jdbcType="INTEGER" property="articleClassId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="click" jdbcType="INTEGER" property="click" />
    <result column="is_use" jdbcType="TINYINT" property="isUse" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_delete" property="isDelete"/>
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
      <result property="createName" column="createName"/>
      <result property="updateName" column="updateName"/>
      <result property="preview" column="preview" jdbcType="VARCHAR"/>
      <result property="previewName" column="preview_name" jdbcType="VARCHAR"/>
      <result property="realName" column="real_name" jdbcType="VARCHAR"/>
    <association property="articleClass" javaType="com.cc.back.entity.ArticleClass">
        <result column="type_name" property="typeName"/>
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    art.id, art.article_class_id, art.title, art.keyword, art.content, art.click, art.is_use, art.create_date, art.create_by,
    art.update_date, art.update_by,art.preview
  </sql>

    <sql id="Column_List">
        art.id, art.article_class_id, art.title, art.keyword, art.click, art.is_use, art.create_date, art.create_by,
        art.update_date, art.update_by,art.preview,
        arc.type_name,sysu.name createName  ,sysus.name updateName
    </sql>

    <sql id="Column_List_1">
        art.id, art.article_class_id, art.title,art.content, art.keyword, art.click, art.is_use, art.create_date, art.create_by,
        art.update_date, art.update_by,art.preview,art.preview_name,art.real_name,
        arc.type_name,sysu.name createName  ,sysus.name updateName
    </sql>

  <select id="findArticleList" parameterType="map" resultMap="BaseResultMap">
    SELECT
      <include refid="Column_List"/>
    FROM article art
    LEFT JOIN article_class arc
    ON art.article_class_id = arc.id
    LEFT JOIN sys_user sysu
    ON art.create_by = sysu.user_id
    LEFT JOIN sys_user sysus
    ON art.update_by = sysus.user_id
    <where>
        art.is_delete = 1
        <if test="article.title != null and article.title  != '' ">
            AND
            <bind name="titleLike" value=" '%'+ article.title + '%' "/>
            art.title like #{titleLike}
        </if>
        <if test="article.articleClassId != null and article.articleClassId  != ''">
            AND art.article_class_id = #{article.articleClassId}
        </if>
        <if test="article.isUse != null and article.isUse != '' ">
            AND  art.is_use = #{article.isUse}
        </if>
        <if test="article.createDate != null and article.createDate != '' ">
            AND  art.create_date LIKE CONCAT(#{article.createDate},"%")
        </if>
    </where>
    <if test="sord != null and sord != '' ">
      ORDER BY art.click  ${sord}
    </if>
    LIMIT #{pageStart},#{pageSize}
  </select>

    <select id="findArticleListConut" parameterType="map" resultType="java.lang.Integer">
      SELECT COUNT(*)
      FROM article
      <where>
            is_delete = 1
          <if test="article.title != null and article.title  != '' ">
              AND
              <bind name="titleLike" value=" '%'+ article.title + '%' "/>
              art.title like #{titleLike}
          </if>
          <if test="article.articleClassId != null and article.articleClassId  != ''">
              AND article_class_id = #{article.articleClassId}
          </if>
          <if test="article.isUse != null and article.isUse != '' ">
              AND  is_use = #{article.isUse}
          </if>
          <if test="article.createDate != null and article.createDate != '' ">
              AND  create_date = #{article.createDate}
          </if>
      </where>
    </select>

    <!-- 根据id获取文章信息 -->
    <select id="getArticleById" resultMap="BaseResultMap" parameterType="Integer">
      SELECT
      <include refid="Column_List_1"/>
        FROM article art
        LEFT JOIN article_class arc
        ON art.article_class_id = arc.id
        LEFT JOIN sys_user sysu
        ON art.create_by = sysu.user_id
        LEFT JOIN sys_user sysus
        ON art.update_by = sysus.user_id
      WHERE art.id = #{id}
    </select>

</mapper>